@page "/movies"
@inject IApiService ApiService
@inject NavigationManager NavigationManager
    <div class="row">
        <h5>Our movies</h5>
    </div>
    <div class="row">
        @if (resultModel is null)
        {
            //show a loading animation
            <LoadingComponent />
        }
        else
        {
            @if (selectedMovieModel is not null)
            {
                <MovieDetailComponent Movie="selectedMovieModel" OnClose="Close"/>
            }
            else
            {
                //show the movies
                <MovieListComponent Movies="resultModel.MovieModels" OnInfo="Info"></MovieListComponent>
            }
        }
    </div>


@code { 
    private ResultModel resultModel;
    private MovieModel selectedMovieModel;
    protected override async Task OnInitializedAsync()
    {
        //get the data
        resultModel = await ApiService.GetMoviesAsync();
    }

    //info method
    private void Info(MovieModel movieModel)
    {
        selectedMovieModel = movieModel;
    }
    private void Close()
    {
        selectedMovieModel = null;
    }
}
